<div class="sidebar">

  <strong>Around The Web</strong>
  <br />
  <a href="https://twitter.com/TaylorHu" target="_blank">@TaylorHu</a>
  <br />
  <a href="https://www.linkedin.com/in/taylorhuston" target="_blank">LinkedIn</a>
  <br />
  <br />
  <a href="http://www.lynda.com/AllCertificates/User/1103034" target="_blank">Lynda</a>
  <br />
  <a href="https://linuxacademy.com/profile/show/user/name/taylor.a.huston@gmail.com" target="_blank">Linux Academy</a>
  <br />
  <a href="https://www.codecademy.com/pyCoder84523" target="_blank">Codecademy</a>
  <br />
  <br />
  <strong>Currently Studying</strong>
  <br />
  <a href="https://www.coursera.org/learn/object-oriented-java" target="_blank">Coursera - Object Oriented Programming in Java</a>
  <br />
  <a href="https://linuxacademy.com/profile/show/user/name/taylor.a.huston@gmail.com" target="_blank">LinuxAcademy.com - AWS Essentials</a>
  <br />
  <br />
  <strong>Currently Reading</strong>
  <br />
  <a href="https://www.amazon.com/Practical-JIRA-Administration-Effectively-Documentation/dp/1449305415" target="_blank">Practical JIRA Administration</a>


</div>
