<div class="sidebar">

  <h4>Around The Web</h4>
  <a href="https://twitter.com/TaylorHu" target="_blank">Twitter</a>
  <br />
  <a href="https://www.linkedin.com/in/taylorhuston" target="_blank">LinkedIn</a>
  <br />
  <a href="http://www.taylorhustonphotography.com" target="_blank">Photography</a>
  <br /><br />
  <h4>Currently Studying</h4>
  <a href="https://www.coursera.org/specializations/oss-development-linux-git" target="_blank">Coursera: Open Source Software Development, Linux and Git Specialization</a>
  <br /><br />
  <a href="https://www.coursera.org/professional-certificates/aws-cloud-solutions-architect" target="_blank">Coursera: AWS Cloud Solutions Architect Professional Certificate</a>
  <br /><br />
  <h4>Currently Reading</h4>
  <a href="https://www.amazon.com/Building-Second-Brain-Organize-Potential/dp/1982167386"
    target="_blank">Building a Second Brain</a>
</div>